body {
	font-family: 'Lucida Grande', Tahoma, Ubuntu, Arial, Verdana, sans-serif;
	font-size: 100.1%;
	
	background-color: #b1aeae;

	strong, em, b, i {
	}

	
	img {
		border: 0px;
	}
	
	a {
		color: #2d6dd6;
	}
	
	
	
}
body.message {

	#bandeau_auteur {
		display: none;
	}
	
	#messages, .messages {
		.texte {
			font-size: 102%;
			
			margin: 20px 0px;
			
			p {
				margin: 1em 0;
			}
			
			
		}
		
		ul.reponses {
			.texte {
				margin: 0px 0px;
				font-size: 95%;

				p {
					margin: 0.7em 0;
				}

			}
		}
		
		li {
			.logo_auteur {
				padding-top: 43px;
			}
			.texte_reponse {
				padding-top: 40px;
			}
			
			ul li {
				.logo_auteur {
					padding-top: 23px;
				}
				.texte_reponse {
					padding-top: 20px;
				}
			}
		}
	}
}	
body.accueil {
	.formulaire_principal {
		.formulaire_poster_message {
			textarea {
				min-height: 100px;
			}
		}
	}
}
nav#entete {
	background-color: #4c4646;
	-spip-gradient: top, #4c4646, #403b3b;
	-spip-box-shadow: 0px 0px 5px #000000;	
	
	color: #7c7474;
	position: fixed;
}

footer {
	clear: both;
	background-color: #635a5a;
	font-size: 70%;
	padding: 4px 15px;
	
	a {
		padding-right: 20px;
		color: #aaa;
		text-decoration: none;
		
		. :hover {
			color: white;
			text-decoration: underline;
		}
	}
}

.suivre {
	-spip-clear: fix;
	margin-bottom: 10px;
}
#follow, #follow_mot, #follow_url {
	div {
		color: #666;
		padding-left: 30px;
		background: url(../imgs/bouton-follow-vert.png) 2px center no-repeat;			
	}
	a {
		display: block;
		float: left;
		text-decoration: none;
		padding: 3px 10px 3px 30px;
		color: #999;

		-spip-border-radius: 6px;
		margin-top: 2px;

		. .no {
			background: url(../imgs/bouton-nofollow-gris.png) 2px center no-repeat;
			
			. :hover {
				background: url(../imgs/bouton-nofollow-blanc.png) 2px center no-repeat;
				background-color: red;
				color: white;
			}
		}
		. .yes {
			background: url(../imgs/bouton-follow-gris.png) 2px center no-repeat;

			
			. :hover {
				background: url(../imgs/bouton-follow-blanc.png) 2px center no-repeat;
				background-color: green;
				color: white;
			}
		}

	}
}

#principale {
	
	#centre {
		background-color: white;
		#tetiere {
			background-color: #ced3db;	
			border-bottom: 1px solid #ddd;
		}
	}
}

.lien_lien {
	white-space: nowrap;
	display: inline-block;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: left center;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	
	
	a {
		text-decoration: none;
	
		. :hover {
			text-decoration: underline;
		}
		
		.lien_host {
			text-decoration: underline;
		}
	}

	.lien_lien_total {
		font-weight: normal;
		a {
			font-family: Times, serif;
			text-decoration: none;
			padding-right: 2px;
			font-size: 0.75em;
		}
	}
	.debut_lien {
		display: none;
	}
	.optionnel {
		-spip-opacity: 0.8;
		font-weight: normal;
	}
}
.triangle {
	font-family: Times, serif;
	font-size: 0.75em;
	padding-right: 2px;
}
.formulaire_poster_message {

	textarea {
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
		border: 1px solid #ddd;
		background-color: white;

		-spip-border-radius: 6px;
				
				
		. :hover {
			outline: none;
			border: 1px solid #bbb;
		}
		. :focus {
			-spip-box-shadow: 0px 0px 7px #6aaacf;
			outline: none;
			border: 1px solid #6aaacf;
		}

		
	}
	.raccourcis {
		padding-top: 2px;
		float: right; 
		clear: right;
		font-size: 70%;
		
		a {
			text-decoration: none;
			margin-left: 10px;
			
			. :hover {
				color: black;
			}
		}
	}
	
	p.boutons {
		display: none;
		margin-top: 5px;

		text-align: right;

		input {
			background-color: #666;
			color: white;
			border: 0px;
			padding: 3px 14px;
			-spip-border-radius: 4px;
			font-size: 0.8em;
			
		}

		input[type=reset] {
			float: left;
			
			background-color: #bbb;
			color: #888;

			. :hover {
				background-color: #ddd;
				color: #666;
			}

		}

		input[type=submit] {
			
			background-color: #666;
			
			. :hover {
				background-color: #555;
			}
		}
	}
	
	.erreur_message {
		margin-top: 3px;
		color: #e70606;
		font-size: 0.75em;
		font-weight: bold;
	}

}
.pagination {
	background-color: white;
	padding: 10px 40px;
	font-size: 0.8em;
	text-align: right;
	
	color: #aaa;
	
	span.on {
		font-weight: bold;
		background-color: #aaa;
		color: white;
		padding: 1px 7px;
		-spip-border-radius: 4px;
	}
}
#pagination_haut {
	-spip-gradient: top, #e0e0e0, #ffffff;
}
#pagination_bas {
	-spip-gradient: top, #ffffff, #e0e0e0;
}
#formulaire_login {
	fieldset {
		border: 0px;
		padding: 0px;
		
		legend {
			display: none;
		}
		
		#spip_logo_auteur {
			float: right;
		}
		
		ul {
			list-style-type: none;
			color: black;
			
			
			li {
				margin-bottom: 10px;
				color: black;
				
				a {color: black;}
				
				label {
					display: block;
					font-size: 0.85em;
					padding-bottom: 3px;
				}
				.erreur_message {
					color: white;
					font-size: 0.85em;
				}
				input[type=text], input[type=password] {
					font: normal normal normal 15px/normal Arial, sans-serif;
					padding: 3px 5px;
					width: 100px;
					
					border: 0px solid #eee;
					-spip-border-radius: 4px;
					background-color: #ccc;
					-spip-transition-property: background-color, width;
					-spip-transition-duration: 0.1s;
					
					. :focus {
						width: 240px;
						background-color: white;
					}
				}
				input[type=password] {
					margin-right: 3px;
					
					. :focus {
						width: 225px;
					}
				}
				
				.choix {
					label {
						display: inline;
					}
				}
				.details {
					font-size: 0.8em;
					display: block;
				}
				
			}
		}
	}	
	p.boutons {
		text-align: right;
		input[type=submit] {
			padding: 2px 10px;
			font-size: 0.9em;
			-spip-border-radius: 4px;
		}
	}	
}

#alire {
	color: white;
	font-size: 80%;
	padding: 20px;
	
	ul {
		li {
			background: url(../imgs/carre-blanc.gif) left center no-repeat;
			padding: 0px;
			margin: 2px 0px;
			padding-left: 10px;
			
			a {
				text-decoration: none;
				
				. :hover {
					text-decoration: underline;
				}
			}
			
		}
	}
	
}

.onglets {
	background-color: #9d9393;
	
	a {
		float: left;
		padding: 3px 40px;
		font-size: 0.75em;
		color: white;
		text-decoration: none;
		
		. :hover {
			color: black;
		}
	}
}

.limite_date {
	padding-top: 10px;
	font-size: 0.8em;
	
	.actif {
		color: black;
		font-weight: bold;
		text-decoration: none;
	}
}


#texte_article {
	padding: 40px;
	line-height: 140%;
	
	h3 {
		margin: 1.5em 0em;
	}
	
	p {
		margin: 0.7em 0em;
	}
}
