ul#messages, ul.messages {
	clear: both;
	
	
	. > li {
		margin-bottom: 0.5em;
		spip-clear: fix;
	}
	
	li {
		position: relative;
		clear: left;

		article {
			-spip-clear: fix;
		}

		.logo_auteur {
			padding-top: 23px;
			padding-bottom: 10px;
			margin-left: 40px;
			float: left;
			zoom: 1;

			-spip-transition-property: margin-left, margin-right;
			-spip-transition-duration: 0.2s;

			@media all and (min-width: 780px) and (max-width: 1000px) {	
				margin-left: 65px;
			}
			@media all and (max-width: 680px) {	
				margin-left: 10px;
				
				img {
					width: 32px;
					height: 32px;
				}
			}

			
			img {
				-spip-transition-property: width, height;
				-spip-transition-duration: 0.2s;
				width: 48px;
				height: 48px;
				-spip-border-radius: 4px;
			}
			
			a:hover img {
					border: 2px solid #eeeeee;
					margin: -2px;
					-spip-box-shadow: 0px 0px 3px #999999;
			}
		}
		
		.texte_message, .texte_reponse {
			margin-left: 103px;
			margin-right: 60px;
			padding-top: 20px;
			padding-bottom: 10px;
			zoom: 1;

			-spip-transition-property: margin-left, margin-right;
			-spip-transition-duration: 0.2s;
			
			@media all and (min-width: 780px) and (max-width: 1000px) {	
				margin-left: 153px;
				margin-right: 110px;
			}
			@media all and (max-width: 680px) {	
				margin-left: 52px;
				margin-right: 25px;
			}			
			
			
			.favori {
				font-size: 0.8em;
				margin-left: 10px;
				
				display: inline-block;
				position: relative;
				
				a.activer_favori {
					padding: 3px;
					padding-left: 18px;
					text-decoration: none;
					
					span.total {
						font-size: 130%;
						padding-right: 3px;
						font-weight: bold;
					}
					span.intitule {
						text-decoration: underline;
						visibility: hidden;
					}
					
					. :hover {
						span.intitule {
							visibility: visible;
						}
					}
				}
				
				a.actif {
					display: block;
					background: url(../imgs/favori-on.png) left center no-repeat;
					color: #cca630;
				}
				a.abonnes {
					display: block;
					background: url(../imgs/favori-off.png) left center no-repeat;
					color: #999;
				}
				a.inactif {
					display: none;
					background: url(../imgs/favori-off.png) left center no-repeat;
					color: #999;
				}
				div.survol {
					display: none;
					position: absolute;
					top: -5px;
					left: -5px;
					background-color: #eeeeee;
					padding: 5px;
					-spip-border-radius: 4px;
					z-index: 1;
					
					.vignettes {
						padding-top: 5px;
						min-width: 140px;
						max-width: 280px;
					}
				}


				.logo_auteur {
					padding-top: 3px;
					padding-bottom: 0px;
					margin-left: 0px;
					width: 27px;
					float: left;
					zoom: 1;
					
					img {
						width: auto;
						height: auto;
					}
					
					a:hover img {
							border: 1px solid white;
							margin: -1px;
							-spip-box-shadow: 0px 0px 3px #999999;
					}
				}


				
				. :hover {
					div.survol {
						display: block;
					}
				}
			}
			.favori_off {
				display: none;
			}
			
			.twitter, .facebook {
				float: right;
				padding-left: 15px;
				-spip-opacity: 0.3;
				
				. :hover {
					-spip-opacity: 1;
				}
			}
			.facebook {
				padding-left: 5px;
				img {
					width: 14px;
					height: 14px;
				}
			}
			.twitter {
				img {
					width: 16px;
					height: 13px;
				}
			}

			.modifier {
				float: right;
				padding-right: 1.5em;
				padding-top: 2px;
				font-size: 0.7em;
				display: block;
				
				a {
					display: none;
					color: #999;
					text-decoration: none;
					-spip-opacity: 0.5;
					background: url(../imgs/mini-modifier.png) left center no-repeat;
					padding-left: 13px;
					
					. :hover {
						text-decoration: underline;
						-spip-opacity: 1;
					}
				}
			}
			.supprimer {
				float: right;
				padding-top: 2px;
				font-size: 0.7em;
				display: block;
				
				a {
					display: none;
					color: red;
					text-decoration: none;
					-spip-opacity: 0.5;
					
					background: url(../imgs/mini-poubelle.png) left center no-repeat;
					padding-left: 13px;
					
					. :hover {
						text-decoration: underline;
						-spip-opacity: 1;
					}
				}
			}
		}

		.updated:before {
			content: "(modifi\00E9\ ";
		}
		.updated:after {
			content: ")";
		}

		.commandes {
			margin-bottom: 0.5em;
			margin-top: -0.3em;

			.date, .auteur, .afficher_themes {
				font-size: 0.7em;
				a {
					color: #ccc;
					text-decoration: none;
					
					. :hover {
						color: black;
						text-decoration: underline;
					}
				}
			}
			.afficher_themes {
				margin-left: 20px;
			}
			.by_cc {
				margin-left: 20px;
				font-size: 80%;
				padding-top: 3px;
				padding-bottom: 3px;
				background: url(../imgs/by-cc-30.png) left center no-repeat;
				padding-left: 19px;
				
				. :hover {
					background: url(../imgs/by-cc.png) left center no-repeat;
				}
			}
			.by_lal {
				background: url(../imgs/by-lal-30.png) left center no-repeat;
				. :hover {
					background: url(../imgs/by-lal.png) left center no-repeat;
				}
			}
			.by_zero {
				background: url(../imgs/by-zero-30.png) left center no-repeat;
				. :hover {
					background: url(../imgs/by-zero.png) left center no-repeat;
				}
			}
			
			
			.auteur {
				strong {
					display: none;
				}
				a {
					text-decoration: none;
				}
			}

		}
		
		.auteur_date {
			color: #999;
			font-size: 0.8em;

			.date {
				a {
					color: #bbb;
					. :hover {
						color: black;
					}
				}
			}

			
			.auteur {
				padding-right: 1em;
				font-weight: normal;
				
				.by_cc {
					display: none;	
				}
			
				a {
					color: black;
					text-decoration: none;
					
					span.login {
						color: #999;
						display: none;
						
					}
					
					. :hover {
						strong {
							text-decoration: underline;
						}
						
					}
				}
			}
		
		}
		.texte {
			font-size: 0.85em;
			line-height: 1.4em;
			color: #333;
			
			p {
				margin: 0.6em 0em 0.6em 0;
				padding: 0;
			}
			.oembed-container {
				margin: 0.7em 0 0 0;
				font-size: 90%;
				white-space: normal;
				
				img, object {
					border: 1px solid #ccc;
					background-color: white;
					padding: 3px;
					display: block;
					-spip-border-radius: 4px;
					
					. :hover {
						border: 1px solid #666;
					}
				}
			}
			.oembed-code {
				max-height: 450px;
				overflow: auto;
				font-size: 100%;
				line-height: 125%;
				background-color: white;
				border: 1px solid #eee;

				ol {
					list-style-type: decimal;
					padding-left: 0;
					
					li {
						padding: 3px 7px;
					}
				}
				pre {
					.line {
						padding: 3px 7px;
					}
					
					.line:nth-child(2n) {
						background-color: #f8f8f8;
					}
				}
			}
			.oembed-container-Soundcloud {
				span {
					display: block;
				}
			}
			blockquote {
				color: #666;
				font-size: 0.93em;
				line-height: 1.35em;
				margin: 0.6em 0 0.6em 2em;
				padding: 0px;
				padding-left: 1em;
				border-left: 1px dotted #ccc;
				text-align: justify;
				-spip-text-justify:newspaper;
				-spip-hyphens: auto;
				-spip-hyphenate-limit-before: 3;
				-spip-hyphenate-limit-after: 3;
				-spip-hyphenate-limit-lines: 2;
				-spip-hyphenate-limit-chars: 6 3 3;
				
				@media all and (max-width: 680px) {	
					margin-left: 1em;
				}
				@media all and (max-width: 500px) {	
					margin-left: 0em;
				}
				@media all and (max-width: 400px) {	
					margin-left: 0em;
					-spip-hyphenate-limit-before: 2;
					-spip-hyphenate-limit-after: 2;
					-spip-hyphenate-limit-lines: 3;
					-spip-hyphenate-limit-chars: 5 2 2;
				}
				
				
				hr {
					border: 0;
					color: #999;
					background-color: #999;
					height: 1px;				
				}
				
				.traduire {
					margin-top: -0.5em;
					text-align: right;
					font-size: 0.8em;
					a {
						text-decoration: none;
						color: white;
						padding: 2px 5px;
						-spip-border-radius: 4px;
					}
				}
			}
		}
		.lien_tag {
			color: #bbb;
			
			a {
				text-decoration: none;
			}
		}
		.lien_people {
			color: #aaa;
			.inexistant {
				color: red;
				text-decoration: line-through;
				
			}
		}
		
		.seenthis_pics {
			-spip-clear: fix;
			
			
			. .seenthis_pics_2 {
				a {
					width: 49%;
				}
			}
			. .seenthis_pics_1 {
				a {
					width: 60%;
					margin-right: 0;
				}
			}
			
			a {
				float: left;
				display: block;
				width: 32.3%;
				margin-right: 1%;
				margin-bottom: 10px;
				
				. :nth-child(3n+1) {
					clear: left;
				}
				
				span.image {
					position: relative;
					display: block;
					width: 100%;
					height: 0;
				}
				
				img {
					position: absolute;
					width: 100%;
				}
				span.lien_court {
					position: absolute;
				}

			}
			

		}
		
		.bouton_repondre {
			clear: right;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-right: 40px;
			padding-left: 104px;
			text-align: left;
			font-size: 0.75em;

			-spip-transition-property: padding-left;
			-spip-transition-duration: 0.1s;
			
			
			@media all and (min-width: 780px) and (max-width: 1000px) {	
				padding-left: 153px;
			}
			@media all and (max-width: 680px) {	
				padding-left: 40px;
			}	
			
			a {
				display: inline-block;
				-spip-border-radius: 4px;
				text-decoration: none;
				padding: 2px 7px;
				margin-right: 0;
				color: white;
				background-color: #ccc;

				-spip-transition-property: background-color;
				-spip-transition-duration: 0.1s;

				
				. :hover {
					background-color: #999;
				}
			}
		}
		.conteneur_reponses + .bouton_repondre {
			padding-top: 0px;
			
			a {
				padding-top: 3px;
				-spip-border-top-right-radius: 0px;
				-spip-border-top-left-radius: 0px;
			}

		}
		
		.destinataires {
			float: right;
			padding-left: 20px;
			padding-top: 0em;
			padding-bottom: 5px;
			
			a {
				text-decoration: none;
			}
		}
		
		.spip_code {
			color: #555;
		}
		code.spip_code {
			background: #eee;
		}
		div.spip_code:nth-child(2n) {
			background:#eee;
		}
		div.spip_code:nth-child(2n+1) {
			background:#ddd;
		}
		div.spip_code {
			border-left: solid 1px #999;
			padding-left:0.6em;
		}

		div.conteneur_reponses {
			background: url(../imgs/fond-bas-reponses.png) bottom left repeat-x;
		}
		ul.reponses {
			background: url(../imgs/fond-haut-reponses.png) top left repeat-x;
			clear: left;
			list-style-type: none;
			font-size: 95%;
			padding-left: 0px;

			-spip-transition-property: background-position;
			-spip-transition-duration: 0.2s;

			@media all and (min-width: 780px) and (max-width: 1000px) {	
				background-position: 50px 0px;
			}
			@media all and (max-width: 680px) {	
				background-position: -65px 0px;
			}

			
			.twitter, .facebook {
				display: none;
			}
			
			li.reponse {
				clear: left;
				position: relative;
				border-bottom: 1px solid white;

				opacity: 1;
				height: auto;

				transition: opacity 0.4s;
				
				
				. :last-child {
					border-bottom: 0px;
				}
								
				.destinataires {
					padding-right: 0px;
				}
			

				.logo_auteur {
					margin-left: 103px;
					position: relative;
					float: left;
					width: 32px;
					padding-top: 17px;

					@media all and (min-width: 780px) and (max-width: 1000px) {	
						margin-left: 153px;
					}
					@media all and (max-width: 680px) {	
						margin-left: 42px;
						
						img {
							width: 24px;
							height: 24px;
						}
					}
					
					img {
						width: 32px;
						height: 32px;
						-ms-interpolation-mode: bicubic;
					}

					a:hover img {
							border: 1px solid white;
							margin: -1px;
							-spip-box-shadow: 0px 0px 3px #666666;
					}

				}
				
				.texte_reponse {
					margin-left: 154px;
					padding-top: 15px;
					padding-bottom: 5px;

					@media all and (min-width: 780px) and (max-width: 1000px) {	
						margin-left: 204px;
					}
					@media all and (max-width: 680px) {	
						margin-left: 71px;
					}


				}
				
				.texte {
					color: #555;
				}
				
				
				
				. .yourmessage {
					padding: 5px;
					background-color: #e4caa5;
					
					div {
						font-size: 0.8em;
						border: 1px solid #aaa;
						background-color: white;
						
						a {
							padding: 3px 10px 3px 10px;
							display: block;
							color: #999;
							
							. :hover {
								text-decoration: none;
							}
						}
					}
				}
				
				. .masquer:not(:first-of-type) {
					opacity: 0;
					height: 0;
					overflow: hidden;
				}
				. .masquer {
					.msg_afficher {
						display: none;
					}
					.msg_masquer {
						display: inline;
					}
				}
				.msg_masquer {
					display: none;
				}

				. .lienshow {
					padding-top: 13px;
					padding-left: 103px;
					color: black;
					padding-bottom: 13px;
					font-size: 0.8em;
					cursor: pointer;
					background: url(../imgs/fond-haut-reponses.png) top left no-repeat;
					
					. :hover {
						color: white;
					}

					. .masquer {
						padding-bottom: 5px;
						padding-top: 8px;
					}
				}
			}
		}
		
		.repondre {
			display: none;
			padding-left: 103px;
			padding-right: 40px;
			padding-bottom: 20px;
			border-bottom: 1px solid #ccc;
		}
		.mots_lies {
			-spip-clear: fix;
			margin: 0px;
			font-size: 0.7em;
			margin-bottom: 5px;
			

			.modifier_themes {
				visibility: hidden;
				margin-left: 0px;
				color: #c79524;
				-spip-opacity: 0.5;
				font-size: 0.95em;

				background: url(../imgs/mini-editer.png) left center no-repeat;
				padding-left: 13px;

				
				. :hover {
					-spip-opacity: 1;
				}
			}
			
			. :hover {
				.modifier_themes {
					visibility: visible;
				}
			}


			li {
				clear: none;
				float: left;
				padding-right: 10px;
				color: #ddd;

				a {
					color: #aaa;				
					text-decoration: none;
					
					. :hover {
						color: #666;
						text-decoration: underline;
					}
				}
				

			}
			li.off {
				display: none;
			}
			li.afficher_themes {
				visibility: hidden;
				
				float: none;
				span.texte_afficher_themes {
					color: #999;
				}
				
			}
			.modifier_themes {
				display: none;
				-spip-opacity: 0.5;
				font-size: 0.95em;
				
				. :hover {
					-spip-opacity: 1;
				}
			}
			
			. :hover {
				li.afficher_themes {
					visibility: visible;
				}
			}
			
		}

		.mots_lies.edition {
			background-color: #ffeeee;
			padding: 10px;
		
			li.afficher_themes {
				.modifier_themes {
					display: none;
				}
			}
			li.off {
				display: block;
				
				a {
					color: red;
					text-decoration: line-through;
				}
			}
		}


	}

}

.masquer_texte {
	display: inline-block;
	width: 1px;
	height: 1px;
	overflow: hidden;
	padding-left: 1px;
	margin-right: -2px;
	font-size: 1px;
	line-height: 1px;
}

:link[hreflang]:after {
    content: "[" attr(hreflang) "]";
    font-size: 75%;
    font-weight: bold;
	margin-left: 3px;
	text-decoration: none;
}


ul#messages li .texte {
	div, blockquote {
		. :lang(ar), . :lang(fa), . :lang(ps)   {
			font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
			font-size: 110%;
				
			-ms-text-justify:kashida;
			text-justify:kashida;
			
			div.traduire {
				font-size: 0.7em;
			}
		}
	}
	blockquote {
		. [dir=rtl] {
			border-left: 0;
			border-right: 1px dotted #ccc;
			margin-left: 0px;
			margin-right: 2em;
			padding-left: 0;
			padding-right: 1em;
			
			div.traduire {
				text-align: left;
			}
		}
	}
}

