.parents_url {
	overflow: hidden;
	padding-left: 4px;
	font-size: 0.9em;
	
	width: 960px;
	
	margin-left: -40px;
	margin-top: -20px;
	margin-bottom: 15px;
	
	background-color: #cfcfcf;
	
	
	li {
		float: left;
		padding-right: 2px;
		
		
		a {
			display: block;
			text-decoration: none;
			background: url(../../squelettes/imgs/fleches-hierarchie-sites-clair.png) left center;
			padding: 3px 14px 3px 15px;
			margin-left: -15px;
			color: #444444;
			white-space: no-wrap;
			
			. :hover {
				background: url(../../squelettes/imgs/fleches-hierarchie-sites.png) left center;
				color: white;
			}
		}
		
		. :first-child {
			a {
				font-weight: bold;
				background: url(../../squelettes/imgs/fleches-hierarchie-sites-noir.png) left center;
				color: white;
			}
		}
	}
}