body {
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
}
#spip-admin {
	position: absolute;
	top: 39px;
	font-size: 0.7em;
}
.clear-left {
	clear: left;
	height: 1px; 
	overflow: hidden;
}
#principale, .centrer {
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
}
.centrer {

}
#principale {
	width: 960px;
	border: 35px solid rgba(255, 255, 255, 0.5);
	border-width: 35px 15px 0px 15px;


	-spip-transition-property: width, border-left, border-right;
	-spip-transition-duration: 0.2s;


	@media all and (max-width: 1000px) {	
		width: 90%;
	}
	@media all and (max-width: 500px) {	
		width: 100%;
		border-left: 0px;
		border-right: 0px;
	}
	
	> div {
		width: 100%;
		overflow: hidden;
		
	}
}
#centre {
	float: left;
	width: 660px;

	@media all and (max-width: 1000px) {	
		width: 100%;
	}
	
	#tetiere {
		padding: 15px 40px 20px 40px;
	}
	.tetiere_auteur {
		display: none;
	}
}
#droite {
	float: left;
	width: 300px;
	@media all and (max-width: 1000px) {	
		width: 100%;
	}	
	
	h3 {
		font-size: 0.8em;
		margin-bottom: 5px;
		font-weight: normal;
		color: white;
		
		strong {
			font-size: 1.1em;
		}
	}

	.following {
		margin: 10px 15px 10px 20px;
		-spip-clear: fix;
		
		color: white;
		
		.logo_auteur {
			float: left;
			position: relative;
			width: 44px;
			height: 44px;
			
			a {
				position: absolute;
				top: 0px;
				left: 0px;
				-spip-transition-property: top, left;
				-spip-transition-duration: 0.1s;
				
				img {
					width: 36px;
					height: 36px;
					-spip-border-radius: 4px;
					-spip-transition-property: width, height;
					-spip-transition-duration: 0.1s;

					-ms-interpolation-mode: bicubic;
				}
			}
		}
		
		.logo_auteur:hover {
			a {
				z-index: 10;
				top: -6px;
				left: -6px;
				
				img {
					width: 48px;
					height: 48px;
					border: 2px solid white;
					margin: -2px;
					-spip-box-shadow: 0px 0px 10px #000000;
				}
			}
		}
	}
	
	.followed {
		margin: 10px 15px 10px 20px;
		color: white;
		-spip-clear: fix;
		
		.logo_auteur {
			float: left;
			margin-right: 5px;
			margin-bottom: 5px;
			
			. :hover {
				a img {
					border: 1px solid white;
					margin: -1px;
					-spip-box-shadow: 0px 0px 3px #000000;
					-spip-border-radius: 3px;
				}
			}
		}
	}

	.following_big {
		.logo_auteur {
			width: 250px;
			height: auto;
			width: auto;
			-spip-clear:fix;
			float: none;
			
			a {
				position: relative;
				-spip-transition-property: color;
				-spip-transition-duration: 0.1s;

				img {
					float: left;
					margin-bottom: 0px;
					margin-top: 0px;
					width: 48px;
					height: 48px;
				}
				.nom, .login {
					padding-left: 60px;
				}
			}
		}
		.logo_auteur:hover {
			a {
				color: white;
				z-index: 10;
				top: 0px;
				left: 0px;
			}
		}
	}

}



#mots_lies, .mots_lies {
	margin: 10px 20px;
	color: #aaa;
		
	ul {
		font-size: 0.8em;
		margin-bottom: 5px;
		li {
			padding-top: 2px;
			color: #ccc;
			
			.groupe_mot {
				font-size: 80%;
				text-transform: lowercase;
			}
		}
	}
	
	.explication {
		font-size: 0.7em;
	}
}

#follow, #follow_mot, #follow_url {
	margin-top: 5px;
	font-size: 0.9em;
}

.theme_manu_auto {
	color: #666;
	font-size: 0.9em;
}
#enfants_mots {
	ul {
		padding-top: 10px;
		list-style-type: none;
		font-size: 0.75em;
		width: 580px;
		
		li {
			display: inline;
			white-space:nowrap;
			padding-right: 10px;
			color: #ddd;
			
			
			a {
				text-decoration: none;
				color: #aaa;
				
				
				. :hover {
					text-decoration: underline;
					color: #999;
				}
			}
			
			ul {
				display: none;
			}
			
		}
		
	}
}
.following_big {
	div.logo_auteur {
		float: left;
		width: 105px;
		padding-right: 20px;
		padding-bottom: 15px;
		font-size: 0.8em;
		line-height: 125%;
		
		. :nth-child(7n+1) {
			clear: left;
		}
		
		a {
			display: block;
			text-decoration: none;
			color: black;
			
			img {
				width: 48px;
				height: 48px;
			}
			
			.nom {
				display: block;
				font-weight: bold;
			}
			.login {
				display: block;
			}
		}	
		
	}
}
#entete_people {
	background-color: white;
	padding: 20px 40px;
	margin-bottom: 0px;
	-spip-clear: fix;
	
	.logo {
		float: left;
		
		img {
			-spip-border-radius: 4px;
		}
	}
	.texte {
		margin-left: 100px;
		margin-top: -5px;
		width: 480px;

		
		h1 {
			font-size: 1.4em;
		}
		div {
			padding-bottom: 3px;
			color: #999;
			font-size: 0.95em;
			
			. .bio {
				color: #333;
				margin-top: 0.5em;
				font-size: 0.8em;
				line-height: 130%;
			}
			. .url_site {
				font-size: 0.8em;
			}
		}
	}
	h2 {
		clear: left;
	}
	
	.outils {
		float: right;
		width: 260px;
		
		.rss {
			margin-bottom: 4px;
			a {
				padding: 2px 4px;
				padding-left: 20px;
				font-size: 0.75em;
				text-decoration: none;
				color: #aaa;
				-spip-border-radius: 4px;
			}
			a:hover {
				color: black;
			}
		}
		
		.messager, .page_auteur {
			display: none;
			font-size: 0.75em;
			text-decoration: none;
			padding-top: 10px;
		}
		
	}
}

#tetiere .formulaire_poster_message { 
	label {
		color: black;
	}
}

.formulaire_poster_message {
	margin-bottom: 0.5em;

	.envoi_message_ok {
		display: none;
	}

	.bugajaxie {
		display: none;
	}
	label {
		display: block;
		font-size: 0.9em;
		padding-bottom: 4px;
		color: #666;
	}
	textarea {
		font-size: 1em;
		line-height: 1.3em;
		max-height: 400px;
		-spip-box-sizing: border-box;
		width: 100%;
		
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
		border: 1px solid #ddd;
		padding: 10px;
		
		. :focus {
			outline: none;
		}

		
	}
	.people {
		font-size: 0.8em;
		display: none;	
		padding-top: 5px;
	}
	.tags {
		font-size: 0.8em;
		display: none;	
		padding-top: 5px;
	}
	.titre_people, .titre_tags {
		display: block;
		float: left;
		margin-top: 3px;
		width: 5em;
	}
	.titre_links {
		display: block;
		float: left;
		width: 5em;	
	}
	.hashtag, .nom {
		display: block;
		float: left;
		margin-top: 2px;
		margin-right: 2px;
		padding: 1px 4px 2px 2px;
		border: 1px solid #ccc;
		background-color: #eee;
		
	}
	.hashtag a, .nom a {
		color: black;
	}
	.hashtag span.diese {
		color: #777;
	}
	.nom span.diese {
		color: #d8400b;
	}
	
	.liens {
		font-size: 0.8em;
		padding-top: 5px;
		color: #777;
	
	}
	.lien {
		padding-left: 5em;	
		
		 a {
			font-weight: bold;
			color: #555;
			
			 span {
				font-weight: normal;
				}
		}		
	}
	
	p.boutons {
		display: none;
		text-align: right;

		input[type=reset] {
			float: left;
			font-size: 0.8em;
			padding: 2px 10px 2px 10px;


		}

		input[type=submit] {
			font-size: 0.8em;
			padding: 2px 10px 2px 10px;
		}
	}
	. .focus {
		p.boutons {
			display: block;
		}
	}
	
	.erreur_message {
		margin-top: 3px;
		color: #e70606;
		font-size: 0.75em;
		font-weight: bold;
	}

}

#bookmarklet {
	padding: 20px;
	font-size: 0.8em;
	color: white;
	
	a.bkl {
		display: inline-block;
		margin-top: 6px;
		margin-bottom: 8px;
		padding: 3px 7px;
		background-color: #666;
		-spip-gradient: top, #777, #555;
		-spip-border-radius: 4px;
		color: white;
		text-decoration: none;
		
	}
}
nav#entete {
	z-index: 2;
	padding: 0px 1em;
	height: 35px;
	font-size: 0.9em;
	left: 0px;
	width: 100%;
	-spip-box-sizing: border-box;

	
	@media all and (max-width: 900px) {	
		padding: 0px;
	
	}
	
		
	div.liens {
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 8px;
		position: relative;
		-spip-transition-property: margin-left, margin-right;
		-spip-transition-duration: 0.2s;
		
		a {
			color: white;
			text-decoration: none;
			
			. :hover {
				text-decoration: underline;
			}
		}
		a.symbole {
			color: #999;
			
			img {
				width: 16px;
				height: 16px;
				vertical-align: middle;
				margin-top: -5px;
			}
			
			@media all and (max-width: 900px) {	
				font-size: 140%;
				margin-top: -8px;
				font-weight: bold;
				display: inline-block;
				color: #ccc;
				height: 30px;
				padding-top: 5px;
				margin-right: 0px;
				
				. :hover {
					text-decoration: none;
					color: white;
				}

				img {
					width: 24px;
					height: 24px;
					margin-right: 1px;
				}
			}
			
		}
	}
	div.profile a.symbole img {
		margin-top: -1px;
	}
	div.logout a.symbole img {
		margin-top: -4px;
	}
	.seenthis, .accueil, .perso, .people, .tags, .urls {
		float: left;
	}
	
	@media all and (max-width: 1000px) {	
		.accueil {
			display: none;
		}
	}
	@media all and (max-width: 1000px) {	
		margin-right: 5px;
	
	}
	@media all and (max-width: 900px) {	
		
		margin-left: 0px;
		margin-right: 0px;

		div.liens {
			margin-left: 5px;
			margin-right: 5px;
		}
		
		.intitule, .nom_auteur {
			display: none;
		}
		.perso {
			width: 24px;
		}
		.seenthis {
			margin-right: 10px;
		}
	}
	
	div.perso {
		a {
			img {
				position: absolute;
				top: -3px;
				left: 0px;
				-spip-border-radius: 3px;
			}
			span.nom_auteur {
				margin-left: 30px;
			}
		}
		a:hover {
			text-decoration: none;
			img {
				-spip-box-shadow: 0px 0px 3px #000000;
				position: absolute;
				border: 1px solid #aaa;
				margin: -1px;
			}
			span.nom_auteur {
				text-decoration: underline;
			}
		}
	}
	.logout, .profile {
		float: right;
		font-size: 85%;
		margin-top: 10px;
	}
	.seenthis {
		margin-left: 15px;
		margin-right: 25px;
		margin-top: 3px;
		

	}

	. .rechercher {
		div.liens {
			margin-left: 5px;
			margin-right: 5px;
		}
		.formulaire_recherche {
			form {
				input.text {
					width: 160px;
				}
			}
		}
	}
	.formulaire_recherche {
		margin-top: 5px;
		margin-left: 5px;
		float: left;
	}
}

#rechercher_site {
	width: 180px;
	margin-top: 20px;

	input.text {
		width: 150px;
	}

}


.formulaire_recherche {
	form {
		position: relative;
		margin: 0px;
		padding: 0px;
		
		div {
			margin: 0px;
			padding: 0px;
		}
		
		label {
			display: none;
		}
		input.text {
			display: block;
			font: normal normal normal 13px/normal Arial, sans-serif;
			padding: 6px 6px 4px;
			border: 0;
			padding: 5px 25px 4px 6px;
			-spip-border-radius: 4px;
			width: 50px;
			-spip-transition-property: background-color, color, width;
			-spip-transition-duration: 0.2s;
			
			background-color: #7c7474;
			-spip-gradient: top, #7f7878, #7a7272;
			
			
			color: #ccc;
			
			. :hover {
				background: #9d9393;
			}
			
			. :focus {
				background: #f7f7f7;
				color: #625f5f;
				outline: none;

			}
		}
		input.submit {
			position: absolute;
			top: 6px;
			right: 5px;
			
		}
	}
}


#alertes {
	display: none;
	font-size: 0.8em;

	ul {
		list-style-type: none;
		color: white;
		
		li {
			margin: 8px 20px 10px 10px;
			
			.logo_auteur {
				float: left;
				padding-top: 2px;
				
				a img {
					-spip-border-radius: 3px;				
				}
				
				a:hover img {
					-spip-box-shadow: 0px 0px 3px #000000;
					-spip-border-radius: 3px;
					border: 1px solid white;
					margin: -1px;
				}
			}
			.texte_message {
				padding-left: 35px;
				
				a.calcul_date {
					color: #aaa;
					
					. :hover {
						color: black;
					}
				}
				.texte {
					color: #ddd;
					font-size: 95%;
					line-height: 1.25em;
				}
			}
		}
		
		.nouvelle_alerte { /* background-color: yellow; */ }
	}
}

#entete_people h2 {
	margin-top: 20px;
}
.suggestions {
	.logo_auteur {
		
		margin-top: 10px;
		width: 220px;
		float: left;
		font-size: 0.9em;
		
		. :nth-child(4n+1) {
			clear: left;
		}
		

		a, a span {
			color: black;
			display: block;
			text-decoration: none;
		}
		a img {
			float: left;
			margin-right: 10px;
		}
		a .nom {
			font-weight: bold;
		}

	}
}

.oembed-container {
	img, object {
		max-width: 440px;
		max-height: 440px;
	}
}

#bandeau_auteur {
	display: none;
}
.loading_icone {
	width: 100%;
	height: 59px;
	background: url(../imgs/loading.gif) top center no-repeat;
}