<plugin>
	<nom>Squelettes Seenthis</nom>
	<auteur>ARNO*</auteur>
	<version>1.0.4</version>
	<etat>stable</etat>
	<description>
		Squelettes de Seenthis
	</description>
	<categorie>squelette</categorie>
	<prefix>seenthissq</prefix>

	<fonctions>seenthis_fonctions.php</fonctions>

	<necessite id="seenthis" />

	<necessite id="SPIP" version="[2.1.0;]" />

	<necessite id="microcache" />
	<necessite id="css_imbriques" />
	<necessite id="inclureajaxload" />
	<necessite id="calcul_date" />
	<utilise id="gravatar" />

</plugin>
