body {
	margin: 0px;
	padding: 0px;
}
.clear-left {
	clear: left;
}
#principale {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#centre {
	float: left;
	width: 660px;
	
	#tetiere {
		padding: 20px 40px;
	}
}
#droite {
	float: left;
	width: 300px;
}
#follow, #follow_mot {
	width: 240px;
	font-size: 0.9em;
	float: right;
}
.following_big {
	div.logo_auteur {
		float: left;
		width: 105px;
		padding-right: 20px;
		padding-bottom: 15px;
		font-size: 0.8em;
		line-height: 125%;
		
		. :nth-child(7n+1) {
			clear: left;
		}
		
		a {
			display: block;
			text-decoration: none;
			color: black;
			
			img {
				width: 48px;
				height: 48px;
			}
			
			.nom {
				display: block;
				font-weight: bold;
			}
			.login {
				display: block;
			}
		}	
		
	}
}
#entete_people {
	background-color: white;
	padding: 20px 40px;
	border-bottom: 1px solid #ddd;
	
	.logo {
		float: left;
	}
	.texte {
		margin-left: 120px;
		margin-top: -5px;
		
		h1 {
			margin: 0px;
			padding: 0px;
			padding-bottom: 5px;
			
			span.login {
				font-size: 0.7em;
				color: #999;
			}
		}
	}
}

.formulaire_poster_message {

	.envoi_message_ok {
		display: none;
	}

	.bugajaxie {
		display: none;
	}
	label {
		display: block;
		font-size: 0.9em;
		padding-bottom: 4px;
		color: #666;
	}
	textarea {
		font-size: 1em;
		line-height: 1.3em;
		
		font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
		border: 1px solid #ddd;
		width: 558px;
		padding: 10px;
		
		. :focus {
			outline: none;
		}

		
	}
	.people {
		font-size: 0.8em;
		display: none;	
		padding-top: 5px;
	}
	.tags {
		font-size: 0.8em;
		display: none;	
		padding-top: 5px;
	}
	.titre_people, .titre_tags {
		display: block;
		float: left;
		margin-top: 3px;
		width: 5em;
	}
	.titre_links {
		display: block;
		float: left;
		width: 5em;	
	}
	.hashtag, .nom {
		display: block;
		float: left;
		margin-top: 2px;
		margin-right: 2px;
		padding: 1px 4px 2px 2px;
		border: 1px solid #ccc;
		background-color: #eee;
		padding-right: 15px;
		
		. .verif_ok {
			background: url(squelettes/imgs/verif_ok.png) right center no-repeat;
			background-color: #eee;
		}
		. .verif_no {
			background: url(squelettes/imgs/verif_no.png) right center no-repeat;
			background-color: #eee;
		}
	}
	.hashtag a, .nom a {
		color: black;
	}
	.hashtag span.diese {
		color: #777;
	}
	.nom span.diese {
		color: #d8400b;
	}
	
	.liens {
		font-size: 0.8em;
		padding-top: 5px;
		color: #777;
	
	}
	.lien {
		padding-left: 5em;	
		
		 a {
			font-weight: bold;
			color: #555;
			
			 span {
				font-weight: normal;
				}
		}		
	}
	
	p.boutons {
		margin: 0px;
		display: none;
		text-align: right;

		input[type=reset] {
			float: left;
			font-size: 0.8em;
			padding: 2px 10px 2px 10px;


		}

		input[type=submit] {
			font-size: 0.8em;
			padding: 2px 10px 2px 10px;
		}
	}
	. .focus {
		p.boutons {
			display: block;
		}
	}
	
	.erreur_message {
		margin-top: 3px;
		color: #e70606;
		font-size: 0.75em;
		font-weight: bold;
	}

}

#bookmarklet {
	padding: 20px;
	font-size: 0.8em;
	
	a.bkl {
		display: inline-block;
		margin-top: 6px;
		margin-bottom: 8px;
		padding: 3px 7px;
		background-color: #666;
		-spip-gradient: top, #777, #555;
		-spip-border-radius: 4px;
		color: white;
		text-decoration: none;
		
	}
}
#entete {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	height: 35px;
	font-size: 0.9em;
	
	div {
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 8px;
		
		a {
			color: white;
			display: block;
			text-decoration: none;
			
			. :hover {
				text-decoration: underline;
			}
		}
		
	}
	.seenthis, .accueil, .perso, .people, .tags, .urls {
		float: left;
	}
	.logout, .profile {
		float: right;
	}
	.seenthis {
		margin-top: 3px;
	}
}

ul#messages li .texte {
	div, blockquote {
		. :lang(ar) {
			font-size: 105%;
		}
	}
}
